
.description {
    color: lightgray;
    font-size: 14px;
    margin-bottom: 30px;
}

/* Legend */

.legend {
    background-color: #202936;
    border-radius: 8px;
    border: 1px solid #444;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.legend p {
    margin: 8px 0;
    color: lightgray;
    font-size: 14px;
}

/* Status farver */
.status-low {
    color: #ff7b72;
}

.status-high {
    color: #56d364;
}