/* Screening grid */

.screening-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}

/* Screening card */

.screening-card {
    background-color: #202936;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.screening-card:hover {
    transform: translateY(-6px);
}

/* Screening content */

.screening-date {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.screening-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screening-time {
    font-size: 24px;
    font-weight: bold;
}

.screening-theater {
    font-size: 16px;
    opacity: 0.8;
}
