<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="filter-nav">
    <select name="genre">
        <option th:each="genre : ${genre}"
                th:value="${genre}"
                th:text="${genre}">
        </option>
    </select>
    <input type="date" id="date" name="date">
    <input type="text" id="cast-search" name="cast-search">
    <button type="button">Search</button>
</section>

<section class="movie-grid">
    <div class="movie-card" th:each="movie : ${movie}">
        <div class="movie-image"></div>
        <h3 th:text="${movie.movieTitle}">Movie Title</h3>
    </div>
</section>

</body>
</html>